*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    padding: 8px 16px;
    margin: 0 auto;
    width: 80%;
}
header{
    padding: 8px 16px;
    border-bottom: 1px solid darkgrey;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.head a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Lora", serif;
    color: black;
}
button{
    background-color: transparent;
    border: none;
}
nav{
    display: none;
}
section{
    padding: 0 48px;
}
section h1{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
section p{
    font-family: "Poppins", sans-serif;
    max-width: 610px;
    text-align: justify;
    margin-bottom: 1.5rem;
}
.buttonPrimary{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    color: white;
    justify-content: center;
    height: 40px;
    padding: 0 1rem;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    margin: 1rem;
} 
.buttonSecondary{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: rgb(27, 26, 26);
    justify-content: center;
    height: 40px;
    padding: 0 1rem;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
} 
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
  }

@media only screen and (min-width: 768px) {
    #menuButton{
        display: none;
    }
    nav  {
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    nav li{
        list-style: none;
    }
    #menuBar li a{
        font-family: "Poppins", sans-serif;
        font-size:1rem; 
        color: darkgrey;
    }
  } 
@media only screen and (min-width: 992px) {
    
  } 
@media only screen and (min-width: 992px) {
    
  } 